.navbar {
    background-color: rgb(184, 223, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}
html,body {
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
.navbar{
background-color:#0a9EE3;
color: white; 
display: flex;
justify-content: space-between;
}
.navbar .izquierda {
    display: flex; 
    height: 100%;
    align-items: center;
    font-size :1,2rem;
} 
.navbar .derecha{
    display: flex;
    height: 100%;
    align-items: center; 
    margin: 1rem;
}
.navbar.izquierda span{
    margin: 10cm;
}

.navbar .derecha button{
    border: none; 
    background-color: #8ebfff;
    padding: 0.5rem 1rem; 
    color:white;
    border-radius: 0.3rem;
} 
.tarjeta{
    margin: 1rem 2rem; 
    padding: 1rem 2rem;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    border-radius: 0.5rem;
}

.fila-dinero h5,h6{
    color: rgb(83, 83, 83);
    font-weight: lighter;
    font-size: medium;
}

.fila-dinero, .fila-ganancias {
    display: flex; 
    justify-content: space-between;
}

.fila-dinero .derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.fila-movimientos button{
    width: 48%;
    margin: 0 0.3rem 0rem 0.3rem;
    padding: 0.5rem 0 0.5rem 0;
    
}
.fila-movimientos button {
    width: 48%;
    margin: 0 0.3rem 0rem 0.3rem; 
    padding: 0.5rem 0 0.5rem 0;
}

.btn-info{
    background-color: #E4F0F8;
    border: none;
     color: #009ee3;
    font-weight: bold ;
    border-radius: 0.5rem;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}







